/* Общие стили */

body {
    background-color: rgb(238, 238, 238);
}

img {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

ul {
    display: flex;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    background-color: rgb(238, 238, 238);
}

li {
    background-color: white;
    margin-bottom: 10%;
    border-radius: 5px;
}

li, li.flex {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


div {
    width: 50%;
}

.main_div{
    margin: auto;
}

/* Стили списка Masonry*/

p{
    padding: 5% 10% 5% 10%;
}

p.footer {
    border-top: 2px solid rgb(238, 238, 238);
    padding: 10% 0 0 10%;
}

.column {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-right: 4%;
}


/*Стили списка Flex */

ul.Flex {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    background-color: rgb(238, 238, 238);
    margin: auto;
}


li.flex {
    display: flex;
    flex-wrap: wrap;
    margin-right: 2%;
    width: 25%;
    margin-bottom: 2%;
}


