body {
    background-color: #fff;
    margin-top: auto;
}
.center-box {
    width: 200px;
    background-color: rgb(65, 223, 207);
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    text-align: center;
}

