.body{
    font-family: Helvetica, serif;
    background-color: rgb(237, 237, 237);
    color: rgb(50, 50, 50);

    article {
        margin: 0px auto;
        width: 70%;
    }

    img {
        width: 70%;
    }
}