.gallery {
    list-style: none;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    background-color: rgb(237, 237, 237);
}

.gallery li {
    display: inline-block;
    width: 30%;
    margin: 5px;
    vertical-align: middle;
}

.gallery img {
    width: 100%;
    height: auto;
    border: 0.4rem solid black;
    box-sizing: border-box;
}